<div class="panel panel-default"style="border: 1px solid lightgray; padding: 10px; border-radius: 5px;">
    <div class="panel-body">
        <img src="~/Content/CleanBlog/img/about-bg.jpg" style="width: 100%;">
    </div>
    <div class="panel-body">
        <h4 style="margin-top: 10px;">About Me</h4>
        <span style="font-size: 18px;">Generate Lorem Ipsum placeholder text for use in your graphic, print and web layouts, and discover plugins for your favorite writing, design and blogging tools.</span>
    </div>
</div>