@model IEnumerable<FA.JustBlog.Core.Models.Tag>

<h5>Popular tags</h5>
@foreach (var tag in Model)
{
    <a href="~/Tag/@tag.UrlSlug" class="btn btn-primary" style="font-size: 8px; margin-bottom: 5px">@tag.Name</a>
}